In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('u.data', names = ['user id', 'item id', 'rating', 'timestamp'], sep = '\t', header=0)
data.head()

   user id  item id  rating  timestamp
0      186      302       3  891717742
1       22      377       1  878887116
2      244       51       2  880606923
3      166      346       1  886397596
4      298      474       4  884182806

In [3]:
max_rating = data['rating'].max()
max_rating_movies = data[ data.rating >= max_rating ]
max_rating_movies.groupby('item id').count().sort_values('user id', ascending=False).head(1)

         user id  rating  timestamp
item id
50           325     325        325

In [4]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
filtered_countries = power[ (power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia')]
filtered_category = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21)]
filtered_year = filtered_category[ (filtered_category.year >= 2005) & (filtered_category.year <= 2010)]
filtered_quantity = filtered_year[ (filtered_year.quantity > 0)]
power_sum = filtered_quantity['quantity'].sum()
print(power_sum)

240580.0

In [8]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
quote_table = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
quote_table[0]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1043404,-,1042767,"0,06 %",00637,15.05.2021
1,NaN,EUR/RUB,898740,-,898735,"0,00 %",00005,15.05.2021
2,NaN,USD/RUB,740160,-,739813,"0,05 %",00347,15.05.2021
3,NaN,JPY/RUB,06768,-,06764,"0,05 %",00004,15.05.2021
4,NaN,CNY/RUB,114984,-,114930,"0,05 %",00055,15.05.2021
5,NaN,CHF/RUB,820914,-,820556,"0,04 %",00358,15.05.2021
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,12146,-,12146,"0,00 %",00000,15.05.2021
8,NaN,EUR/GBP,08612,-,08612,"-0,01 %",-00001,15.05.2021
9,NaN,EUR/JPY,1328300,-,1327900,"0,03 %",00400,15.05.2021
10,NaN,EUR/CHF,10952,-,10952,"0,00 %",00000,15.05.2021
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08234,-,08234,"0,00 %",00000,15.05.2021
13,NaN,USD/GBP,07094,-,07095,"-0,01 %",-00001,15.05.2021
14,NaN,USD/JPY,1093700,-,1093650,"0,00 %",00050,15.05.2021
15,NaN,USD/CHF,09016,-,09016,"0,01 %",00001,15.05.2021
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),07500,-,07500,"0,00 %",00000,15.05.2021
18,NaN,JPY/GBP,00065,-,00065,"-0,01 %",00000,15.05.2021
19,NaN,JPY/USD,00091,-,00091,"0,00 %",00000,15.05.2021
20,NaN,JPY/CHF (100:1),08200,-,08200,"-0,11 %",00000,15.05.2021
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,14097,-,14100,"-0,02 %",-00003,15.05.2021
23,NaN,GBP/JPY,1541789,-,1541641,"0,01 %",00148,15.05.2021
24,NaN,GBP/EUR,11610,-,11605,"0,04 %",00005,15.05.2021
25,NaN,GBP/CHF,12694,-,12713,"-0,15 %",-00020,15.05.2021
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12694,-,12713,"-0,15 %",-00020,15.05.2021
28,NaN,EUR/CHF,10952,-,10952,"0,00 %",00000,15.05.2021
29,NaN,JPY/CHF (100:1),08200,-,08200,"-0,11 %",00000,15.05.2021
30,NaN,USD/CHF,09016,-,09016,"0,01 %",00001,15.05.2021
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,336185,-,334763,"0,42 %",01422,15.05.2021
33,NaN,USD/UAH,276798,-,275627,"0,42 %",01171,15.05.2021
34,NaN,CHF/UAH,306998,-,305709,"0,42 %",01289,15.05.2021
35,NaN,GBP/UAH,390202,-,388496,"0,44 %",01705,15.05.2021