# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('u.data', names = ['user id', 'item id', 'rating', 'timestamp'], sep = '\t', header=0)

In [4]:
def level_rating(row):
    """
    - оценка 2 и меньше - низкий рейтинг
        - оценка 4 и меньше - средний рейтинг
        - оценка 4.5 и 5 - высокий рейтинг
    """
    if int(row['rating']) <= 2:
        return 'низкий рейтинг'
    elif int(row['rating']) <= 4:
        return 'средний рейтинг'
    elif int(row['rating']) > 4:
        return 'высокий рейтинг'
    return 'без рейтинга'

In [6]:
movies['class'] = movies.apply(level_rating, axis=1)
movies.head()

   user id  item id  rating  timestamp            class
0      186      302       3  891717742  средний рейтинг
1       22      377       1  878887116   низкий рейтинг
2      244       51       2  880606923   низкий рейтинг
3      166      346       1  886397596   низкий рейтинг
4      298      474       4  884182806  средний рейтинг

# Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
Результат классификации запишите в отдельный столбец region.

In [18]:
inquiries = pd.read_csv('keywords.csv')
geo_data = {'Центр': ['москв', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [19]:
def geo_region(row2):
    """
    'Центр': ['москв', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    """
    for region, cities in geo_data.items():
        for y in cities:
            if y in str(row2['keyword']):
                return(region)            
    return 'undefined'

In [20]:
inquiries['region'] = inquiries.apply(geo_region, axis=1)
inquiries.head(200)

             keyword     shows     region
0                 вк  64292779  undefined
1      одноклассники  63810309  undefined
2              порно  41747114  undefined
3               ютуб  39995567  undefined
4          вконтакте  21014195  undefined
..               ...       ...        ...
195          торрент    716336  undefined
196   порно рассказы    729707  undefined
197  погода в москве    745745      Центр
198         слизарио    715083  undefined
199               е1    705533  undefined

[200 rows x 3 columns]